{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <title>نمایش محصولات</title>
</head>
<body>
         {% block content %}
         {% endblock %}
<!-- فوتر -->
    <footer>
        <div class="footer-content">
            <!-- بخش لینک‌های مفید -->
            <div class="footer-section">
                <h3>لینک‌های مفید</h3>
                <a href="#">صفحه اصلی</a>
                <a href="#">درباره ما</a>
                <a href="#">تماس با ما</a>
                <a href="#">حریم خصوصی</a>
            </div>

            <!-- بخش اطلاعات تماس -->
            <div class="footer-section">
                <h3>اطلاعات تماس</h3>
                <p>آدرس: تهران، خیابان نمونه، پلاک ۱۲۳</p>
                <p>تلفن: ۰۲۱-۱۲۳۴۵۶۷۸</p>
                <p>ایمیل: info@example.com</p>
            </div>

            <!-- بخش شبکه‌های اجتماعی -->
            <div class="footer-section">
                <h3>شبکه‌های اجتماعی</h3>
                <a href="#">اینستاگرام</a>
                <a href="#">توییتر</a>
                <a href="#">فیسبوک</a>
                <a href="#">لینکدین</a>
            </div>
        </div>

        <!-- کپی رایت -->
        <div class="copyright">
            &copy; ۱۴۰۳ تمامی حقوق محفوظ است.
        </div>
    </footer>
</body>
</html>
