
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'nav.html' %}
 <div class="container">
        <h1>محصولات ما</h1>

        {% for product in products %}
        {% if product.is_sale %}
        <div class="product">
            <img src="{{ product.product_image.url }}" alt="محصول ۱">
            <h2>{{ product.product_name }}</h2>
            <p>توضیحات کوتاه درباره محصول ۱. این محصول دارای ویژگی‌های منحصر به فردی است که آن را از دیگر محصولات متمایز می‌کند.</p>
          <strike> <p class="price">قیمت:{{ product.price }} تومان</p></strike>
                   <p class="price">  تخفیف قیمت:{{ product.sale_price }} تومان</p>
                <a href="{% url 'single_product' product.id %}" class="details-button">مشاهده جزئیات محصول</a>
        </div>
        {% else %}
        <div class="product">
            <img src="{{ product.product_image.url }}" alt="محصول ۱">
            <h2>محصول ۱</h2>
            <p>توضیحات کوتاه درباره محصول ۱. این محصول دارای ویژگی‌های منحصر به فردی است که آن را از دیگر محصولات متمایز می‌کند.</p>
            <p class="price">قیمت:{{ product.price }} تومان</p>
                <a href="{% url 'single_product' product.id %}" class="details-button">مشاهده جزئیات محصول</a>
        </div>
        {% endif %}
        {% endfor %}
</div>

{% endblock content %}
