{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: right;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
 body{
      background: linear-gradient(to right, #dad299, #b0dab9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">تغییر اطلاعات کاربری</h3>
                </div>
                <div class="card-body"> 
                    <form method="POST" action='{% url 'update_prof' %}'>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">نام کاربر جدیدی</label>
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> ایمیل جدید</label>
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">رمز عبور جدید</label>
                            {{ form.password1 }}
                            {{ form.password1.errors }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">تکرار رمز عبور</label>
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary w-100">تغییر</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
