{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'nav.html' %}
<div class="container my-5">
    <h1 class="text-center mb-4">سبد خرید شما</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if cart_products %}
    {% for c_p in cart_products %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{{ c_p.product_image.url }}"
                     class="card-img-top p-3"
                     alt="{{ c_p.product_name }}"
                     style="height: 250px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{ c_p.product_name }}</h5>
                    <p class="card-text text-muted">{{ c_p.description|truncatechars:100 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        {% if c_p.is_sale %}
                            <del class="text-danger">{{ c_p.price|floatformat:0 }} تومان</del>
                            <span class="text-success fs-5">{{ c_p.sale_price|floatformat:0 }} تومان</span>
                        {% else %}
                            <span class="text-success fs-5">{{ c_p.price|floatformat:0 }} تومان</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
         {% endfor %}
         {% else %}
         <div class="col-12">
            <div class="alert alert-warning">هیچ محصولی یافت نشد!</div>
        </div>
         {% endif %}
{% endblock %}
